---
import AppLayout from '../layouts/AppLayout.astro';
import NowPanel from '../components/now/NowPanel.astro';
import { getNextActions } from '../lib/actions';

const actions = await getNextActions();
---
<AppLayout title="NOW" page="now" subtitle="now">
  <Fragment slot="topbar-extra">
    <span>updated {actions.generatedAt}</span>
  </Fragment>
  <NowPanel initial={actions} />
</AppLayout>
